
/bin/
/.gradle/
/build/
/.settings/
.classpath
.project
build.fxbuild
/.settings/
/.gradle/
/build/
.idea/
*.iml
out/
.gradle/2.14/taskArtifacts/fileHashes.bin
.gradle/2.14/taskArtifacts/cache.properties.lock
